// https://github.com/mikebrady/shairport-sync/blob/master/scripts/shairport-sync.conf
// Very basic configuration file for shairport-sync, it works with the default settings just fine.
general =
{
	name = "Home Speaker"; // This means "Hostname" -- see below. This is the name the service will advertise to iTunes.
	default_airplay_volume = -4.0; // this is the suggested volume after a reset or after the high_volume_threshold has been exceed and the high_volume_idle_timeout_in_minutes has passed
};